@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.skills {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: #222;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        animation: bottomleft 2s;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 1rem;
    }

    &__header {
        @include header; 
     }

    &__creds {
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $text;
        border-bottom: 1px solid $text;
    }
    
    &__section {
        background-color: black;
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__section-header {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    &__section-img {
        width: 1.2rem;
        margin-left: 0.5rem;
        height: 1.1rem;
    }

    &__education {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $text;
        padding-top: 0.5rem;
    }

    &__ed-header {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    &__experience {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $text;
        padding-top: 1rem;
    }

    &__ed-img {
        width: 1rem;
        margin-right: 0.5rem;
    }


    &__ed-descrip {
        font-size: 1.15rem;
        margin: 0.5rem 0;
    }

    &__exp-header {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }


    &__exp-img {
        width: 1rem;
        margin-right: 0.5rem;
    }


    &__exp-descrip {
        font-size: 1.15rem;
        margin: 0.5rem 0;
    }

    &__skills {
        border-top: 1px solid $text;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__skills-img {
        width: 30%;
        margin: 0.5rem 1rem;

        &--adjust {
            width: 23%;
        }
    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}