@use './variables.scss' as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-Light.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-SemiBold.ttf') format("truetype");
    font-weight: 600;
}