@use './variables.scss' as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-Light.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: '3270';
    src: url('../../assets/fonts/3270-Regular.ttf') format("truetype");
    font-weight: 600;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px $accent, 0 0 40px $accent, 0 0 50px $accent, 0 0 60px $accent, 0 0 70px $accent, 0 0 80px $accent;
    }
  }