@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: #222;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        animation: bottomright 1s;
        display: flex;
        flex-direction: column;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 1rem;
        top: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__header {
        @include header;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-top: 1px solid $text;
        border-bottom: 1px solid $text;
        padding: 1rem 0;
    }

    &__links {
        background-color: black;
        padding: 1rem;
        margin: 1rem; 
        padding-right: 2rem;
        width: 45%;
    }

    &__links-title {
        margin-left: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid $text;
    }
    
    &__links-item {
        display: flex;
        flex-direction: column;
        padding: 1rem; 
    }

    &__links-header {
        padding-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    &__links-content {
        display: flex;
        align-items: center;
    }

    &__links-img {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
    }

    &__links-link {
        font-size: 1.2rem;
        color: $background-secondary;
    }

    &__form {
        background-color: black;
        padding: 1rem;
        margin: 1rem;
        width: 45%;
    }
   
    &__form-header {
        border-bottom: 1px solid $text;
        margin: 0 1rem 1rem 1rem;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }
    
    &__form-field {
        margin: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    &__form-button {
        @include button;
    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}

input {
    border: none;
    outline: none;
    color: $text;
    background-color: black;
    border-bottom: 1px solid $text;
    border-radius: 2px;
    width: 80%;
    font-size: 1.1rem;
    -webkit-text-fill-color: $text;

    &:focus {
        @include box-shadow;
    }
}

textarea {
    outline: none;
    border: none;
    border-radius: 2px;
    color: $text;
    background-color: black;
    border-bottom: 1px solid $text;
    width: 80%;

    &:focus {
        @include box-shadow;
    }
}

label {
    color: $text;
    transition: all .1s ease-in-out;
    margin-bottom: 1rem;
}
