@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles//partials/keyframes.scss' as *;

.about {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: #222;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        animation: scalein 1.5s;
    }

    &__header {
        @include header;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        background-color: none;

        &:hover {
            cursor: pointer;;
        }
    }

    &__bio {
        z-index: 30;
        display: flex;
        padding: 2rem;
        border-bottom: 1px solid $text;
        border-top: 1px solid $text;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__bio-header {
        font-size: 2rem;
        text-align: center;
    }

    &__bio-lower {
        display: flex;
        flex-direction: row-reverse;
    }
    
    &__bio-pic {
        padding-top: 1rem;
        position: relative;
      
        &--img {
            width: 17rem;
            border-radius: 5px;
        }
    }

    &__bio-content {
        padding: 1rem;
    }
    
    &__bio-text {
        font-size: 1.2rem;
    }

    &__bio-button {
        @include button;
        margin-top: 2rem;
    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}