@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.about {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: #222;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: topleft 1s;
        overflow: auto;
    }

    &__upper {
        z-index: 30;
        display: flex;
        padding: 2rem 0 3rem 0;
        border-bottom: 1px solid $text;
        border-top: 1px solid $text;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        background-color: none;
    }
    
    &__profile {
        float: left;
        padding-top: 1.5rem;
        position: relative;
      
        &--pic {
            width: 17rem;
            border-radius: 5px;
        }

        &--overlay {
            position: absolute;
            height: 90%;
            width: 100%;
            top: 1.5rem;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &__bio {
        padding: 1rem;
    }
    
    &__bio-header {
        font-size: 2rem;
    }
    
    &__bio-text {
        font-size: 1.4rem;

    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}