@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.sidebar {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1rem;
        width: 25%;
    }

    &__item {
        margin-bottom: 1rem;
        color: $text;
        background-color: rgba(116, 108, 254, 0.5);
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}