@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.projects {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: #222;
        width: 95%;
        height: 95%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        animation: topright 2s;
        overflow: auto
    }

    &__header {
        @include header;
        margin-bottom: 1rem;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__lower {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $text;
        border-bottom: 1px solid $text;
        padding: 1rem 0;
    }

    &__project {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 254, 253, 0.2);
        display: flex;
        
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 3px;
    }

    &__project-snap {
        width: 35%;
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.7);
        border-radius: 2px;
    }

    &__project-text {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }

    &__project-header {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    &__project-stack {
        font-size: 1rem;
        margin-bottom: 1rem;

        &--purple {
            color: $text;
            text-shadow:
            0 0 10px $accent,
            0 0 10px $accent,
            0 0 21px $accent;
        }
    }

    &__project-des {
        font-size: 1rem;
        margin-left: 1rem;
    }

    &__project-buttons {
        display: flex;
    }

    &__project-button {
        @include button;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}