@use '../../styles/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.projects {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        text-shadow: none;
    }

    &__main {
        position: relative;
        background-color: $accent;
        width: 95%;
        height: 90%;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
    }

    &__close {
        width: 2rem;
        position: absolute;
        right: 1rem;
    }
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.display-none {
    display: none;
}